// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
.home-background
  background-image: url('https://www.clarovideo.com/webclient/sk_core/images/bg-registro-lg-peru.jpg')
  background-position: center
  background-size: cover
.transparent-background
  background-color: rgba(66, 66, 66, 0.43)!important

body
  width:100%
.jimmy-image
  @extends .mb-5
  width:100%

.text-all-center
  @extends .text-md-center 
  @extends .text-sm-center 
  @extends .text-xs-center 
  @extends .text-lg-center