// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
.home-background
  background-image: url(https://www.clarovideo.com/webclient/sk_core/images/bg-registro-lg-peru.jpg)
  background-position: center
.transparent-background
  background-color: rgba(66, 66, 66, 0.43)!important
